{% extends 'base.html.twig' %}
{% form_theme formpro 'bootstrap_4_layout.html.twig' %}
{% block body %}
<h1>Add Produit</h1>
{{form_start(formpro)}}
 {{ form_row(formpro.lib, {
            label: 'Libellé'
        }) }}
        {{ form_row(formpro.img, {
            label: 'Image'
        }) }}
        {{ form_row(formpro.des, {
            label: 'Description'
        }) }}
        {{ form_row(formpro.prix) }}


<button type="submit"  class="btn btn-danger">Enregistrer</button>

{{form_end(formpro)}}

{% endblock %}
