{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <h1>Update</h1>

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email , {
            label: 'Your Mail'
        }) }}
        {{ form_row(registrationForm.Lastname, {
            label: 'Your Name'
        }) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
        {{ form_row(registrationForm.agreeTerms) }}

        <button type="submit" class="btn btn-danger">Register</button>
    {{ form_end(registrationForm) }}
{% endblock %}